- fetchPermissions()
aside.main-sidebar
  section.sidebar
    ul.sidebar-menu
      li.header
        a.logo-admin(href="/admin")
          img(src=staticURI() + '/img/favicon.png')
      a.next-preview(href=currentHost() target='_blank' title='Xem website')
        i.fa.fa-eye
      - var itemClass = (menu == 'dashboard' ? 'active' : '');
      li.treeview
        a(href="/admin/dashboard" class=itemClass)
          i.fa.fa-home
          span Bảng điều khiển
      - var itemClass = (menu == 'game' ? 'active' : '');
      li.treeview
        a.main-item(href="/admin/game" class=itemClass)
          i.fa.fa-gamepad
          span Game
      if (hasPermission('article') || hasPermission('blog') || hasPermission('page'))
        - var itemClass = (menu == 'analysis' ? 'active' : '');        
        li.treeview(class=itemClass)
          a.main-item(class=itemClass)
            i.fa.fa-registered
            span Đánh giá
            i.fa.fa-angle-left.pull-right
          ul.treeview-menu
            if (hasPermission('article'))
              - var liClass = (childMenu == 'create' ? 'active' : '');
              li
                a(href='/admin/article/create?template=analysis&type=review' class=liClass)
                  | Viết bài mới
              - var liClass = (childMenu == 'list' ? 'active' : '');
              li
                a(href="/admin/article?template=analysis&type=review" class=liClass)
                  | Danh sách
            if (hasPermission('article'))
              - var liClass = (childMenu == 'comment' ? 'active' : '');
              li
                a(href="/admin/article/comment?template=analysis&type=review" class=liClass)
                  | Bình luận
        - var itemClass = (menu == 'article' ? 'active' : '');
        li.treeview(class=itemClass)
          a.main-item(class=itemClass)
            i.fa.fa-id-card-o
            span Tin tức
            i.fa.fa-angle-left.pull-right
          ul.treeview-menu
            if (hasPermission('article'))
              - var liClass = (childMenu == 'create' ? 'active' : '');
              li
                a(href='/admin/article/create?type=news' class=liClass)
                  | Viết bài mới
              - var liClass = (childMenu == 'list' ? 'active' : '');
              li
                a(href="/admin/article?type=news" class=liClass)
                  | Danh sách
            if (hasPermission('article'))
              - var liClass = (childMenu == 'comment' ? 'active' : '');
              li
                a(href="/admin/article/comment?type=news" class=liClass)
                  | Bình luận
        - var itemClass = (menu == 'walkthrough' ? 'active' : '');        
        li.treeview(class=itemClass)
          a.main-item(class=itemClass)
            i.fa.fa-pencil-square-o
            span Hướng dẫn
            i.fa.fa-angle-left.pull-right
          ul.treeview-menu
            if (hasPermission('article'))
              - var liClass = (childMenu == 'create' ? 'active' : '');
              li
                a(href='/admin/article/create?type=walkthrough' class=liClass)
                  | Viết bài mới
              - var liClass = (childMenu == 'list' ? 'active' : '');
              li
                a(href="/admin/article?type=walkthrough" class=liClass)
                  | Danh sách
            if (hasPermission('article'))
              - var liClass = (childMenu == 'comment' ? 'active' : '');
              li
                a(href="/admin/article/comment?type=walkthrough" class=liClass)
                  | Bình luận
      - var itemClass = (menu == 'blog' ? 'active' : '');
      li.treeview
        a.main-item(href="/admin/blog" class=itemClass)
          i.fa.fa-object-group
          span Nhóm bài viết
      - var itemClass = (menu == 'page' ? 'active' : '');
      li.treeview
        a.main-item(href="/admin/page" class=itemClass)
          i.fa.fa-file
          span Trang nội dung
      if (hasPermission('gallery'))
        - var itemClass = (menu == 'gallery' ? 'active' : '');
        li.treeview(class=itemClass)
          a.main-item(class=itemClass)
            i.fa.fa-address-book
            span Gallery
            i.fa.fa-angle-left.pull-right
          ul.treeview-menu
            - var liClass = (childMenu == 'create' ? 'active' : '');
            li
              a(href='/admin/gallery/create' class=liClass)
                | Thêm mới
            - var liClass = (childMenu == 'list' ? 'active' : '');
            li
              a(href='/admin/gallery' class=liClass)
                | Danh sách
      if (hasPermission('contact'))
        - var itemClass = (menu == 'contact' ? 'active' : '');
        li.treeview.contact(class=itemClass)
          a.main-item(class=itemClass)
            i.fa.fa-envelope-open-o
            span Liên hệ
            span.pull-right.icon-number-sidebar(data-type="new")
            i.fa.fa-angle-left.pull-right
          ul.treeview-menu
            - var liClass = (childMenu == 'read' ? 'active' : '');
            li
              a(href="/admin/contact?status=unread" class=liClass)
                | Mới
            - var liClass = (childMenu == 'reply' ? 'active' : '');
            li
              a(href="/admin/contact?status=unreply" class=liClass)
                | Chưa phản hồi
            - var liClass = (childMenu == 'all' ? 'active' : '');
            li
              a(href="/admin/contact" class=liClass)
                | Tất cả
      if hasPermission('review')
        - var itemClass = (menu == 'review' ? 'active' : '');
        li.treeview
          a.main-item(href="/admin/review" class=itemClass)
            i.fa.fa-star-o
            span Người dùng đánh giá
      if hasPermission('subscriber')
        - var itemClass = (menu == 'subscriber' ? 'active' : '');
        li.treeview
          a.main-item(href="/admin/subscriber" class=itemClass)
            i.fa.fa-envelope-o
            span Subscriber
      if (hasPermission('setting') || hasPermission('menu') || hasPermission('shipping_fee'))
        - var itemClass = (menu == 'setting' ? 'active' : '');
        li.treeview(class=itemClass)
          a.main-item(class=itemClass)
            i.fa.fa-cog
            span Cấu hình
            i.fa.fa-angle-left.pull-right
          ul.treeview-menu
            if (hasPermission('setting'))
              - var liClass = (childMenu == 'setting' ? 'active' : '');
              li
                a(href='/admin/setting' class=liClass)
                  | Thiết lập chung
            if (hasPermission('menu'))
              - var liClass = (childMenu == 'menu' ? 'active' : '');
              li
                a(href='/admin/menu' class=liClass)
                  | Menu
            if (hasPermission('library'))
              - var liClass = (childMenu == 'library' ? 'active' : '');
              li
                a(href='/admin/library' class=liClass)
                  | Library
            if (hasPermission('testimonial'))
              - var liClass = (childMenu == 'testimonial' ? 'active' : '');
              li
                a(href='/admin/testimonial' class=liClass)
                  | Khách hàng nói về chúng tôi
            if (hasPermission('client'))
              - var liClass = (childMenu == 'client' ? 'active' : '');
              li
                a(href='/admin/client' class=liClass)
                  | Khách hàng tiêu biểu
            if (hasPermission('client'))
              - var liClass = (childMenu == 'tag' ? 'active' : '');
              li
                a(href='/admin/tag' class=liClass)
                  | Thẻ
      if (hasPermission('user'))
        - var itemClass = (menu == 'user' ? 'active' : '');
        li.treeview(class=itemClass)
          a.main-item(class=itemClass)
            i.fa.fa-user-circle-o
            span Quản trị viên
            i.fa.fa-angle-left.pull-right
          ul.treeview-menu
            - var liClass = (childMenu == 'list' ? 'active' : '');
            li
              a(href='/admin/user' class=liClass)
                | Danh sách
            - var liClass = (childMenu == 'history' ? 'active' : '');
            li
              a(href='/admin/user/history' class=liClass)
                | Lịch sử hoạt động
            if (getRole() == -1)
              - var liClass = (childMenu == 'setting' ? 'active' : '');
              li
                a(href='/admin/user/setting' class=liClass)
                  | Thiết lập Admin
              - var liClass = (childMenu == 'role' ? 'active' : '');
              li
                a(href='/admin/role' class=liClass)
                  | Phân quyền
              - var liClass = (childMenu == 'restore' ? 'active' : '');
              li
                a(href='/admin/restore' class=liClass)
                  | Khôi phục
              - var liClass = (childMenu == 'remove-order' ? 'active' : '');
input(type="hidden" name="user_roles" value=userRoles())
script.
  var roles = $('input[name="user_roles"]').val();
  if (roles && roles.length > 2) {
    roles = JSON.parse(roles);
    var arr_roles = [];
    for(var i=0; i < roles.length; i++) {
      if (roles[i].method == 'GET') {
        arr_roles.push(roles[i].endpoint);
      }
    }
    $('.treeview-menu').find('a').each(function(index, element) {
      var href = $(this).attr('href');
      href = href.replace('/admin', '');
      if (arr_roles.indexOf(href) == -1) {
        $(this).closest('li').remove();
      }
    });
  }
